---
import ProjectItem from "./ProjectItem.astro";

interface Props {
  content: any[]
}

const { content } = Astro.props; 
---

<section id="about">
  <div class="icon-title">
    <img src="projects.svg">
    <h2>Projects</h2>
  </div>
   {
    content.map((project) => (
      <ProjectItem title={project.title} description={project.description}
        code={project.code} preview={project.preview} image={project.image}
        technologies={project.technologies}/>
    ))
   }
</section>
<style>
  #about {
    margin: 50px 15%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .icon-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    h2 {
      font-size: 30px;
      margin: 0;
    }
  }
</style>
