---
import WorkExperienceItem from "./WorkExperienceItem.astro"

interface Props {
  title: string;
  experience?: any[]
}

const { title, experience } = Astro.props;

---

<section id="experience">
  <div class="icon-title">
    <img src="briefcase.svg" alt="briefcase icon">
    <h2>{title}</h2>
  </div>
  <div class="work-item">
    {
      experience?.map((item) => (
        <WorkExperienceItem company={item.company} position={item.position}
        dateRange={item.dateRange} description={item.description}
        technologies={item.technologies}/>
      ))
    }
  </div>
</section>
<style>
  #experience {
    margin: 0 15%;
    padding: 64px 0 0 0;
    @media (width < 769px) {
      margin: 0 50px;
    }
    @media (width < 414px) {
      margin: 0 20px;
    }
  }
  .icon-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
    h2 {
      font-size: 30px;
      margin: 0;
    }
  }
  .work-item {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
  }

</style>
